body{
	background-color: black;
	
}

h1, h2, h3, h4, h5, h6, button, input[type="submit"]{
	font-family: 'Bree Serif', serif;
}

#social-container{
	background-color: black;
}

#logo-container .callout{
	background-color: #606060 ;
	/*Color de la letra*/
	color: black;
	margin-bottom: 0;

}
/** #81F7F3**/
#menu-container{
	background-color: black;

}

#menu-container li a{
	color: #E8E8E8 ;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
	
}

#submenu-container{
	border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover{
	color: #989898 ;	
}

#submenu-container li a{
	background-color: black;	
	color: #E8E8E8 ;

}

/**#tickets-action .callout{
	background-color: #bdf7fc;
	color: white;
	margin-bottom: 0;
}

#tickets-action .callout button{
	color: white;
	border: 1px solid #04B431;
}  **/

#lineup-container{
	padding: 1em 0;

}

#tickets-container{
	padding: 1em 0;

}

#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a{
	

	background: #E0E0E0 ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}


#tickets-container,
#tickets-container .tabs-panel,
#tickets-container .tabs,
#tickets-container .tabs .tabs-title,
#tickets-container .tabs .tabs-title.is-active a{
	

	background: #B8B8B8 ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

#tickets-container,
#tickets-container .tabs-panel1,
#tickets-container .tabs1,
#tickets-container .tabs .tabs-title1,
#tickets-container .tabs .tabs-title1.is-active a{
	

	background: #505050  ;
	color: 	#C8C8C8 ;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}








.tabs-content{
	border: 0;
}

.tabs-content1{
	border: 0;
}

#lineup-container .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#tickets-container .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#tickets-container .tabs .tabs-title1 a{
	font-size: 18px;
	color: black ;

}


#lineup-container .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#tickets-container .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#tickets-container .tabs .tabs-title1 a:hover{
	color: black;
	background-color: grey;
}


/*
Foundation no permite centrarlo, agregar estilo adicional
*/
.tabs-title{
display: inline-block;
float: none;
}

.tabs-title1{
display: inline-block;
float: none;
}

#lineup-container .orbit-container{
	margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption{
	text-align: right;
}

#tickets-container .orbit-container{
	margin-bottom: 1em;
}

#tickets-container .column:nth-child(odd) figcaption{
	text-align: right;
}



.pricing-table{
	border: 1px solid #161742;
	font-family: 'Ravi Prakash', cursive;
}

.pricing-table li,
.pricing-table li.description{
	font-size: 20px;
}

.pricing-table li.price,
.pricing-table li.title{
	font-size: 30px;
}

.pricing-table a.button{
	font-family: 'Bree Serif', serif;
}

#info-container{
	background-color: #E0E0E0;
	color: black;
	padding: 1em 0;

}

#info-container .info-map iframe{
	width: 100%;

}

#suscribete-container{
	background-color: #606060;
	color: white;
	padding: 1em 0;
}

#suscribete-container h4 small{
	color: white;
}

#suscribete-container .error-container{
	font-family: 'Bree Serif', serif;
}

.is-invalid-input:not(:focus) {
	background-color: rgb(255,228,228);
	border-color: rgb(255,228,228);
}

.data-sticky{
	width: 100%;
	z-index: 100;
}

#offCanvas,
#offCanvas li a{
	background-color: #42F2F8;
	color: white;
	font-family: 'Bree Serif', serif;
}


#offCanvas .is-drilldown-submenu-parent > a::after{
	border-color: transparent transparent transparent white;
}

#offCanvas .js-drilldown-back > a::before{
	border-color: transparent white transparent transparent;
}

#modulo3 {
	padding: 1em 0;
}

#modulo3,
#modulo3 .tabs-panel,
#modulo3 .tabs,
#modulo3 .tabs .tabs-title,
#modulo3 .tabs .tabs-title.is-active a{
	

	background: #E0E0E0 ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

#modulo3 .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}


#modulo3  .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#modulo3 .orbit-container{
	margin-bottom: 1em;
}

#modulo3 .column:nth-child(odd) figcaption{
	text-align: right;
}

