body{
	background-color: black;
	
}

h1, h2, h3, h4, h5, h6, button, input[type="submit"]{
	font-family: 'Bree Serif', serif;
}

#social-container{
	background-color: black;
}

#logo-container .callout{
	background-color: #606060 ;
	/*Color de la letra*/
	color: black;
	margin-bottom: 0;

}
/** #81F7F3**/
#menu-container{
	background-color: black;

}

#menu-container li a{
	color: #E8E8E8 ;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
	
}

#submenu-container{
	border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover{
	color: #989898 ;	
}

#submenu-container li a{
	background-color: black;	
	color: #E8E8E8 ;

}

/**MODULO1**/

#lineup-container{
	padding: 1em 0;

}


#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a{
	

	background: #E0E0E0 ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

#lineup-container .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#lineup-container .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#lineup-container .orbit-container{
	margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption{
	text-align: right;
}


/**MODULO2**/

#tickets-container{
	padding: 1em 0;

}

#tickets-container,
#tickets-container .tabs-panel,
#tickets-container .tabs,
#tickets-container .tabs .tabs-title,
#tickets-container .tabs .tabs-title.is-active a{
	

	background: #B8B8B8 ;
	color: black;
	border: 0;
	/** text-transform: uppercase;**/;
	font-family: 'Bree Serif', serif;

}

#tickets-container .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}


#tickets-container .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}


#tickets-container .orbit-container{
	margin-bottom: 1em;
}

#tickets-container .column:nth-child(odd) figcaption{
	text-align: justify-all;
}

/**MODULO3**/

#modulo3 {
	padding: 1em 0;
}

#modulo3,
#modulo3 .tabs-panel,
#modulo3 .tabs,
#modulo3 .tabs .tabs-title,
#modulo3 .tabs .tabs-title.is-active a{
	

	background: #E0E0E0 ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

#modulo3 .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#modulo3  .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#modulo3 .orbit-container{
	margin-bottom: 1em;
}

#modulo3 .column:nth-child(odd) figcaption{
	text-align: right;
}

/**FIN MODULO 3**/


/**MODULO 4 **/

#modulo4 {
	padding: 1em 0;
}

#modulo4,
#modulo4 .tabs-panel,
#modulo4 .tabs,
#modulo4 .tabs .tabs-title,
#modulo4 .tabs .tabs-title.is-active a{
	

	background: #EFFBFB ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

#modulo4 .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#modulo4  .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#modulo4 .orbit-container{
	margin-bottom: 1em;
}

#modulo4 .column:nth-child(odd) figcaption{
	text-align: right;
}

/**FIN MODULO 4 **/



/**MODULO 5 **/

#modulo5 {
	padding: 1em 0;
}

#modulo5,
#modulo5 .tabs-panel,
#modulo5 .tabs,
#modulo5 .tabs .tabs-title,
#modulo5 .tabs .tabs-title.is-active a{
	

	background: #EFFBFB ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

#modulo5 .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#modulo5  .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#modulo5 .orbit-container{
	margin-bottom: 1em;
}

#modulo5 .column:nth-child(odd) figcaption{
	text-align: right;
}

/**FIN MODULO 5 **/


/**MODULO 6 **/

#modulo6 {
	padding: 1em 0;
}

#modulo6,
#modulo6 .tabs-panel,
#modulo6 .tabs,
#modulo6 .tabs .tabs-title,
#modulo6 .tabs .tabs-title.is-active a{
	

	background: #EFFBFB ;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
	text-align: center;
}

#modulo6 .tabs .tabs-title a{
	font-size: 18px;
	color: black ;

}

#modulo6  .tabs .tabs-title a:hover{
	color: black;
	background-color: grey;
}

#modulo6 .orbit-container{
	margin-bottom: 1em;
}

#modulo6 .column:nth-child(odd) figcaption{
	text-align: center;
}

/**FIN MODULO 6 **/

.tabs-content{
	border: 0;
}
/*
Foundation no permite centrarlo, agregar estilo adicional
*/
.tabs-title{
display: inline-block;
float: none;
}

.tabs-title1{
display: inline-block;
float: none;
}

.pricing-table{
	border: 1px solid #161742;
	font-family: 'Ravi Prakash', cursive;
}

.pricing-table li,
.pricing-table li.description{
	font-size: 20px;
}

.pricing-table li.price,
.pricing-table li.title{
	font-size: 30px;
}

.pricing-table a.button{
	font-family: 'Bree Serif', serif;
}

#info-container{
	background-color: #E0E0E0;
	color: black;
	padding: 1em 0;

}

#info-container .info-map iframe{
	width: 100%;

}

#suscribete-container{
	background-color: #606060;
	color: white;
	padding: 25px;
    text-align: justify all;
}

#suscribete-container h4 small{
	color: white;
}

#suscribete-container .error-container{
	font-family: 'Bree Serif', serif;
}

.is-invalid-input:not(:focus) {
	background-color: rgb(255,228,228);
	border-color: rgb(255,228,228);
}

.data-sticky{
	width: 100%;
	z-index: 100;
}


#offCanvas,
#offCanvas li a{
	background-color: #42F2F8;
	color: white;
	font-family: 'Bree Serif', serif;
}


#offCanvas .is-drilldown-submenu-parent > a::after{
	border-color: transparent transparent transparent white;
}

#offCanvas .js-drilldown-back > a::before{
	border-color: transparent white transparent transparent;
}

#parrafo {
	text-align: justify;
}

